@import '../../node_modules/bootstrap/scss/bootstrap';

.route-list-group {
  .route-container {
    .list-group-item {
      .delete-route {
        background: none;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #666;
      }

      .delete-route:hover {
        border: 1px solid #dfdfdf;
      }

      .delete-route:focus {
        outline: none;
      }

      .route-target {
        color: #666;
        margin-left: 16px;
      }

      .route-target::before {
        content: "(";
      }

      .route-target::after {
        content: ")";
      }
    }

    .list-group-item:last-child {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    /**
     * When a route is in the process of being created or deleted, we want to display it
     * as semi-transparent and disable the "delete route" button.
     */
    .list-group-item[data-status="creating"],
    .list-group-item[data-status="deleting"]{
      opacity: 0.5;

      .delete-route {
        cursor: default;
      }

      .delete-route:hover {
        border: 1px solid transparent;
      }
    }

    /**
     * When a route just got deleted, we want to hide it until the state gets
     * updated.
     */
    .list-group-item[data-status="deleted"] {
      display: none;
    }
  }
}

button {
  cursor: pointer;
}
