# Put your Python dependencies in this file
# More information about Pipfile can be found at https://github.com/pypa/pipfile


[packages]

flask = "*"
requests = "*"
werkzeug = "==0.14.1"


[dev-packages]

pycodestyle = "*"
