<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ceryx Web</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/stylesheets/main.css')}}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ceryx Web Admin</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Routes</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/parisk/ceryx-web/">
              <i class="fab fa-github"></i>
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
    	<h1>Routes</h1>
      <div class="route-list-group list-group">
        <div class="route-container">
        	<div class="list-group-item text-center">
        		Just a minute! We are loading Ceryx' routes.
        	</div>
        </div>
      	<div class="list-group-item">
      		<button class="btn btn-primary" type="submit">
            <i class="fas fa-plus"></i>
            Add new route
          </button>
      	</div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='dist/js/main.js')}}"></script>
  </body>
</html>
