<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ceryx Web</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/stylesheets/main.css')}}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container">
      <div class="main-alert-container"></div>

    	<h1>Routes</h1>
      <div class="route-list-group list-group">
        <div class="route-container">
        	<div class="list-group-item text-center">
        		Just a minute! We are loading Ceryx' routes.
        	</div>
        </div>
      	<div class="list-group-item">
      		<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-new-route-modal">
            <i class="fas fa-plus"></i>
            Add new route
          </button>
      	</div>
      </div>
    </div>

    {% include 'modals/add-new-route.html' %}

    <script src="{{ url_for('static', filename='dist/js/main.js')}}"></script>
  </body>
</html>
